@media only screen and(max-width: 600px){
    .col-5, 
    .col-7{
        width: 100%;
        height: 50%;
    }
    .container{
        flex-direction: column-reverse;
    }
    .info{
        align-items: flex-start;
    }
    .info h1{
        font-size: 63px;
        line-height: 60px;
        text-align: left;
    }
    .info p{
        font-size: 12px;
    }
    .info button{
       font-size: 20px;
        padding: 10px 20px;
    }
}